<header class="masthead">
  <div class="wrap">
    {% if site.logo %}
      <a href="{{ '/' | relative_url }}" class="site-logo" rel="home" title="{{ site.title }}">
        <img src="{{ site.logo | relative_url }}" class="site-logo-img animated fadeInDown" alt="{{ site.title }}">
      </a>
    {% endif %}
    {% assign page_image = page.image.path | default: page.image %}
    {% unless page_image %}
      {% if page.url == '/' %}
        <h1 class="site-title animated fadeIn"><a href="{{ '/' | relative_url }}">{{ site.title }}</a></h1>
      {% else %}
        <div class="site-title animated fadeIn"><a href="{{ '/' | relative_url }}">{{ site.title }}</a></div>
      {% endif %}

     
      <p class="site-description animated fadeIn" id="site-description" itemprop="description">Change is inevitable. Embrace it.</p>
      <script>
        (function() {
          var zen = [
            "Beautiful is better than ugly.<br>~Tim Peters",
            "Explicit is better than implicit.<br>~Tim Peters",
            "Simple is better than complex<br>Complex is better than complicated.<br>~Tim Peters",
            "Flat is better than nested.<br>~Tim Peters",
            "Sparse is better than dense.<br>~Tim Peters",
            "Readability counts.<br>~Tim Peters",
            "Change is inevitable. Embrace it.<br>~Sam Newman",
            "In the face of ambiguity, refuse the temptation to guess.<br>~Tim Peters",
            "If the implementation is hard to explain, it's a bad idea.<br>~Tim Peters",
            "If the implementation is easy to explain, it may be a good idea.<br>~Tim Peters",
            "Any fool can write code that a computer can understand.<br>Good programmers write code that <b>humans</b> can understand.<br>~Martin Fowler",
            "Make it work, make it right, make it fast.<br>~Kent Beck"

          ];
          document.getElementById("site-description").innerHTML = zen[Math.floor(Math.random() * zen.length)];
        })();
      </script>
    {% endunless %}
  </div>
</header><!-- /.masthead -->
