<div class="header container">
  <a class="logo-link noTransition" href="/">
    <div class="logo">
      <span class="logo-text">
        <span
          >a<span class="initial"
            ><span class="initial name-initial"><span>ç</span></span></span
          >ık<span class="initial"></span><span class="dot">.</span>ka<span
            class="initial"
            ><span class="initial surname-initial">y</span></span
          >mak
        </span>
      </span>
      ><span class="blinking-cursor">_ </span>
    </div>
  </a>
</div>
